$font-stack:'Montserrat', sans-serif;
$blue-color: #091540;
$azure-color: #add7f6;
$white-color: #fefdfd;

$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);

// main config 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $white-color;
    font-family: $font-stack;
    max-width: 100%;
    overflow-x: hidden;
}

main {
    min-height: 100vh;
}

// scrollbar config
// set custom style to scrollbar
::-webkit-scrollbar {
    width: 10px;
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background-color: $white-color;
}

// handle 
::-webkit-scrollbar-thumb {
    background-color: lighten($azure-color, 6);
    border-radius: 4px;

    &:hover {
        background-color: darken($azure-color, 8);
    }
}
